.Data{
  background: #E8EAF6;  
  display: block;
  height:40%;
  width: 80%;
  margin: 10px auto 10px;
  border-radius: 8px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.8);
  color: #000;
  padding-left: 3%;
  padding-bottom: 2%;
  padding-top: 1%;
}

#calculator{
	background: #D6F05C;

}
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}  
[ui-header ui-bar-a]{color: #E8EAF6;}